/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('assets/galaxy.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Stardos Stencil', cursive;
  margin-top: 10px;
}

h2 {
  font-family: 'Stardos Stencil', cursive;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-body {
  color: black;
}
